.vscode/
env/
credentials.json
1st_connections.csv
master_list_parsed.csv
tier1-vcs.json
.ds_store
# Ignore Python bytecode cache
__pycache__/
connections__final_network_map.json
connections__emoticons_removed.json
connections__emoticons_removed__final_network_map.json
vc-raw-list.csv
connections__final_network_map.json
approve_people.csv
approve_vcs.csv
final_approved_outbound_requests.csv
decisions.py